@import "mixins";

.home{
    background-color: var(--content-bg-color-1);
    flex: 1;

    &__content{
        padding: var(--content-padding);

        &--card{
            background-color: var(--color-grey-light);
            padding: 2rem;
            width: 40rem;
            aspect-ratio: 1/1;
            margin-bottom: 2rem;
            margin-right: 2rem;
            border-radius: var(--card-border-radius);
            animation: moveInBottom .7s ease-out;

            &-icon{
                height: 2rem;
                width: 2rem;
                margin-right: 1rem;
                fill: #473FCE;
            }

            @include respond(tab-pot){
                width: 30rem;
              }

            &:hover{
                box-shadow: var(--card-hover-shadow);
            }

            &-heading{
                margin-bottom: 1rem;
            }

            &>h2{
                border-bottom: .2rem solid var(--content-bg-color-1);
                margin-bottom: 2.4rem;
                cursor: pointer;
                color: var(--color-text-black-1);

              
            }
        }
    }

    }

    .link{
        text-decoration: none;
        font-size: 1.8rem;
        color: var(--color-text-black-1);
        display: flex;
        align-items: center;

        &:hover{
            color: rgb(19, 36, 185);
        }
    }



.home__header{
    background-color: var(--color-black-2);
    padding: 3rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--icon{
        height: 2rem;
        width: 2rem;
        fill: white;
        margin-right: 1rem;
    }

    &--text-box{
        display: flex;

        &-buttons{
            @include respond(tab-pot){
                display: none;
              }
        }
    
        &-picture{
            height: 8rem;
            border-radius: 10rem;
        }
        
    }
}


.heading-primary {
    color: var(--color-white);
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 3rem;
        font-weight: 500;
    }
    
    &--sub {
        display: block;
        font-size: 1.5rem;
        font-weight: 400;
        color: #777;
    }
}


.btn{

    
     
    &:link, 
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1rem 4rem;
        border-radius: 10rem;
        font-size: 1.6rem;
    }

    &:hover{
        box-shadow: 0 3px 5px white;
    }

    &--blue{
        background-color: var(--color-buttons-1);
        color: white;
    }
    
    &--white {
        background-color: var(--color-white);
        color: #777;

    }

    &--flexed{
        display: flex;
        align-items: center;
    }

    }