.home{
    background-color: white;
    height: 80rem;
    flex: 1;
    }

.home__container{
    margin-left: 3rem;
    width: 90%;
}

.home__headerCard{
    display: flex;
    background-color: var(--color-grey-light-1);
    padding: 2rem 3rem;
}

.home__table{
    background-color: var(--color-grey-light-1);
}