.notes{
    background-color: white;
    flex: 1;
}

.notesCard{
    margin-left: 2rem;
    height: 5rem;
    margin-bottom: 0.25rem;
    width: 20rem;
    background-color: rgb(242, 245, 237);
    border-bottom: 0.25px solid gray;
    cursor: pointer;
}

.label{
    font-size: 1.5rem;
}

.label-small{
    font-size: 1.5rem;
}

.notes-h2{
    margin-bottom: 1rem;
}

.select{
    border-radius: 50rem;
    background-color: var(--color-grey-light-2);
    font-family: inherit;
    padding: .5rem 1rem;
    cursor: pointer;
    margin-left: 1rem;
    border: none;
}

.select:focus{
    outline: none;
    background-color: var(--color-grey-light-3);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    font-size: 1.5rem;
    margin-left: 2rem;
  }
  th{
    text-align: left;
    padding-bottom: 2rem;
    font-weight: 600;
  }

  td {
    border-bottom: 1px solid lightgrey;
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 0.5rem;
    font-weight: 500;
  }

  tr:hover{
      background-color: var(--color-grey-light-2);
      border-radius: 1rem;
  }
  
  tr:nth-child(even) {
      
  }

  .notes__header-select{
      margin-bottom: 1.55rem;
  }